.Portada {
	min-height: 100vh;
	height: 100%;
	min-width: 100%;
	background-color: #e1afee;
	margin-top: -70px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.portada__container {
	display: grid;
	width: 80vw;
	margin: 0 auto;
	place-content: center;
	grid-template-columns: 1fr 1fr;
}

.portada__hero {
	width: 100%;
	max-width: 450px;
	object-fit: contain;
	border-radius: 50%;
	padding: 30px;
	margin: 0 auto;
}

.container__hero {
	display: flex;
	justify-content: center;
	align-items: center;
}
.portada__containerText {
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.portada__containerText h1 {
	font-size: 5rem;
	font-family: 'Calligraffitti', cursive;
	color: #261e18;
	text-align: center;
}

.portada__containerText h2 {
	font-size: 4rem;
	color: #261e18;
	font-family: 'Calligraffitti', cursive;
	margin-bottom: 50px;
	text-align: center;
}

.portada__containerText p {
	font-size: 1.8rem;
	line-height: 30px;
	text-align: justify;
}

.portada__containerText a {
	background-color: #49005c;
	color: white;
	border: none;
	outline: none;
	text-transform: uppercase;
	margin-top: 50px;
	border-radius: 6px;
	padding: 10px 25px;
	cursor: pointer;
	transition-property: background, color;
	transition: 0.5s;
}

.portada__containerText a:hover {
	background-color: white;
	color: black;
}

.portada__containerText a p {
	line-height: 20px;
}

.container {
	position: relative;
	background: #2c3e50;
	height: 50vh;
}

.wave {
	position: absolute;
	height: 55px;
	width: 97%;
	background: #e1afee;
	bottom: 0;
	z-index: 2;
}

.wave::before,
.wave::after {
	content: '';
	display: block;
	position: absolute;
	border-radius: 100% 50%;
}

.wave::before {
	width: 55%;
	height: 109%;
	background-color: #fff;
	right: -1.5%;
	top: 60%;
}

.wave::after {
	width: 55%;
	height: 100%;
	background-color: #e1afee;
	left: -1.5%;
	top: 40%;
}

@media screen and (max-width: 768px) {
	.portada__container {
		margin-top: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.portada__containerText h1 {
		margin: 0 auto;
	}
	.portada__containerText h2 {
		margin: 0 auto 50px;
	}
	.portada__containerText button {
		margin: 50px auto;
	}
	.portada__containerText p {
		align-items: justify;
	}
	.portada__hero {
		padding: 0;
		margin-bottom: 150px;
		order: 0;
	}
	.container__hero {
		width: 70%;
		display: flex;
		justify-content: center;
	}
}
