.header {
	width: 100%;
	height: 65px;
	background-color: #f2c9e7;
	box-shadow: 0 0 10px black;
	font-size: 1.5rem;
	position: sticky;
	top: 0;
	z-index: 99;
	transition: background, box-shadow, color;
	transition-duration: 0.5s;
}

.navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 65px;
	width: 85vw;
	margin: 0 auto;
	max-width: 1280px;
	/* color: white; */
}

.navigation div {
	display: flex;
	gap: 10px;
}

.navigation > a {
	font-family: 'Calligraffitti', cursive;
	font-size: 3rem;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.hidden {
	background-color: #d285e500;
	box-shadow: none;
	color: #00000000;
}
